.navbar-nav .nav-link-custom{
  color: #FF0000;
}

.navbar-brand{
  padding-top:0rem !important;
  padding-bottom: 0rem!important;
}

.nav-links{
  text-shadow: 0px 2px 4px #7A5050;
  font-weight: 400;
}

.intro{
  background-color: #0E0F10;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#intro-header{
  color: #FF0000;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.intro p{
  margin-bottom: .1rem;
}

.food-box{
  display: flex;
  background-color: black;
  width: 450px;
  height: 200px; 
  border-radius: 45px;
  color: white;
  margin:20px;
}


.left-food-box{
  flex: 1;
  margin-left: 20px;
  margin-top: 20px;
}

.left-food-box img{
  border-radius: 25px;
  border: 2px solid #FF0000;
}

.right-food-box{
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-food-box .header{
  font-weight: bold;
  font-size: 28px;
  margin: 10px;
  margin-bottom: 30px;
  color: #FF0000;
}

.right-food-box button{
  width: 100px;
  height: 50px;
  border: 2px solid #FF0000;
}


.order-section{
  display: flex;
  background: linear-gradient(180deg, #F00 0%, #5B5B5B 91.67%);
  padding-top: 40px;
  padding-bottom: 40px;
}

.left-order-section{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-order-section{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: #0E0F10;
  color: white;
  padding: 20px;
  border-radius: 10%;
  border: 4px solid #FF0000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 500px;
}

.radio-options{
  display:flex;
}

.left-options,
.right-options {
  flex:1;
}

.left-options label,
.right-options label{
  display: block;
  margin-bottom: 10px;
}
